__pycache__/
*.py[oc]
*.pyo
*.pyd
.Python

.venv/
.env
.git/
.gitignore

.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/

build/
dist/
wheels/
*.egg-info

data/
livrables/
mlruns/
artifacts/

*.db
*.sqlite
*.sqlite3

.DS_Store
.vscode/
.idea/