OPENAGENDA_API_KEY=your_openagenda_api_key
MISTRAL_API_KEY = your_mistral_key
HF_KEY=your_hf_key

API_KEY=your_api_key
API_URL=http://api:8000

# Paramètres du aplli 
ZONE_CHOISIE="Montpellier"
TYPE_ZONE = "city"

POSTGRES_DB=pocrag_db
POSTGRES_USER=pocrag_user
POSTGRES_PASSWORD=change_me_please

DATABASE_URL=postgresql://pocrag_user:change_me_please@db:5432/pocrag_db
MLFLOW_TRACKING_URI=http://mlflow:5000